In [3]:
import pandas as pd
import pymongo

In [4]:
df=pd.read_csv("./studentlist.csv")
df.head(1)

,#,Register No,Student Name,Institution of Study,Semester,Type,Sub1,Sub2,Sub3,Sub4,...,Sub6,Sub7,Sub8,Sub9,Sub10,Sub11,Sub12,Sub13,Unnamed: 19,Unnamed: 20
0,1,19020540,AADIT PRASANTH S,"01-00010 - Government Polytechnic College, Pal...",6,R,6027,6028.0,6029.0,6009.0,...,6022.0,6023.0,6025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#the logic for assigning benches to students
subject_codes=[3041,3042,3043,3044,6134]
for codes in subject_codes:
    child_df=pd.DataFrame()
    for i in range(1,14):
        data=df.loc[df['Sub'+str(i)]==codes]
        child_df=pd.concat([child_df,data])
    child_df.to_csv("./"+str(codes)+".csv")
    '''
    here after the first iteration we have all the students who have subject code 3041 and we can iterate through each of them
    and assign a seat to each of them
    '''

In [6]:
class DatabaseConnection():
	'''
		Initiated a class for reusing database connection and to work with multiple databases in future
	'''
	def __init__(self,dbname,collection) -> None:
		self.url="mongodb+srv://siraj:strongpassword@cluster0.wnzkkfw.mongodb.net/seatdb?retryWrites=true&w=majority"
		self.dbname=dbname
		self.collection=collection

	def connection(self) -> object:
		myclient = pymongo.MongoClient(self.url)
		mydb = myclient[self.dbname]
		mycol=mydb[self.collection]
		return mycol

In [13]:
DBCONNECTION=DatabaseConnection("seatdb","layouts")
DBCOLLECTION=DBCONNECTION.connection()
doc=DBCOLLECTION.find()
CODES=[3041,3042,3043]
DATA=[]
flag=0
datapointer={}
for x in CODES:
    datapointer[str(x)]=None
for x in doc:
   
    flag=0
    # print(x["classnumber"])
    for data in x["seats"]:
        
        # print(data["column"])
        
        for seats in data["seats"]:
            # print(seats)
            try:
                if(datapointer[str(CODES[flag])]):
                    datapointer[str(CODES[flag])]=0
                    df=pd.read_csv(str(CODES[flag])+".csv")
                    
                else:
                    datapointer[str(CODES[flag])]=datapointer[str(CODES[flag])]+1
                df=pd.read_csv(str(CODES[flag])+".csv")
                
            except:
                flag=0
                df=pd.read_csv(str(CODES[flag])+".csv")
        flag=flag+1

not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not

hai